:root {
    --background: #f0ebf8;
    --secondary-dark: #161179;
    --secondary: #261FB3;
    --primary: #FBE4D6;
    --font-color: #FBE4D6;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

.table {
    width: 100%;
}

.table>.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    background-color: #f8f9fa;
}

.table>.row>.col {
    padding: 10px;
    /* border: 1px solid #000; */
}

.table>.row>.col:first-child {
    width: 50%;
}

.table>.row>.col {
    width: 25%;
}

.row-header {
    background-color: #fff !important;
    font-size: large;
    font-weight: bold;
    padding-bottom: 10px;
}

.col-checked {
    position: relative;
}


.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.icon {
    padding: 5px;
}

.icon:hover {
    cursor: pointer;
    padding: 5px;
    background-color: #d6d6d6;
}

.input-custom {
    display: inline !important;
    width: 60%;
    border: none;
    outline: none;
    border-bottom: 2px solid #efefef;
}

.input-custom:focus {
    border-bottom: 2px solid #0b76ef;
}

.text-area-custom {
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    border: none;
    border-bottom: 2px solid #efefef;
    outline: none;
    padding-top: 10px;
    resize: none;
}

.text-area-custom:focus {
    border-bottom: 2px solid #0b76ef;
}

/* From Uiverse.io by SelfMadeSystem */
.wrapper {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.form {
    --text: rgb(32, 33, 36);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40em;
    gap: 10px;
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #dadce0;
    overflow: hidden;
}

.form-heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: rgb(103, 58, 183);
}

.form-heading {
    padding-bottom: 16px;
}

.heading {
    font-size: 1.5em;
}

.title {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5em 0;
}

.title .text {
    color: var(--text);
    font-size: 18px;
    font-weight: bold;
}

.title .points {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    flex-shrink: 0;
}

.required {
    color: #f00;
    padding-left: 0.25em;
}

.wrapper input {
    display: none;
}

.form label {
    display: flex;
    align-items: center;
    gap: 0.75em;
    /* padding: 0.5em 0; */
    font-size: 11pt;
    line-height: 15pt;
}

.form label .text {
    color: var(--text);
}

.form label .checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #5f6368;
    border-radius: 50%;
    cursor: pointer;
}

.form label .checkbox-hover {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(103, 58, 183, 0);
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
}

.form label .checkbox:hover :where(.checkbox-hover) {
    background-color: rgba(103, 58, 183, 0.04);
    opacity: 1;
}

.form label:focus-visible .checkbox-hover,
.form label:focus .checkbox-hover {
    background-color: rgba(103, 58, 183, 0.15);
    animation: huh 0.3s;
}

@keyframes huh {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 1;
    }
}

.form label .checkbox-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 5px solid rgb(103, 58, 183);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform ease 0.28s;
}

.form input:checked+label .checkbox {
    border-color: rgb(103, 58, 183);
}

.form input:checked+label .checkbox-inner {
    transform: translate(-50%, -50%) scale(1);
}

#submitted:checked~.form label {
    pointer-events: none;
}

#submitted:checked~.form label .checkbox {
    border-color: #9aa0a6;
}

#submitted:checked~.form input:checked+label .checkbox,
#submitted:checked~.form input:checked+label .checkbox-inner {
    border-color: #5f6368;
}

#submitted:checked~.form label {
    padding: 0.5em;
    border-radius: 4px;
}

#submitted:checked~.form label .text {
    color: #70757a;
}

#submitted:checked~.form input:checked+label .text {
    color: #202124;
}

#submitted:checked~.form input:checked+label .icon {
    height: 24px;
    width: 24px;
    margin-left: auto;
}

#submitted:checked~.form #q11:checked+label {
    background: rgb(252, 232, 230);
}

#submitted:checked~.form #q12:checked+label {
    background: rgb(230, 244, 234);
}

#submitted:checked~.form:has(#q11:checked) .title .text {
    color: rgb(217, 48, 37);
}

#submitted:checked~.form:has(#q12:checked) .title .text {
    color: rgb(30, 142, 62);
}

/* #submitted:checked~.form .pt {
    display: none;
} */

#submitted:checked~.form .points {
    color: rgb(32, 33, 36);
}

/* #submitted:not(:checked)~.form .pt0,
#submitted:not(:checked)~.form .pt1 {
    display: none;
} */
/* 
#submitted:checked~.form:has(#q11:checked) .pt1,
#submitted:checked~.form:has(#q12:checked) .pt0 {
    display: none;
} */

.correct-answer>.text {
    color: #70757a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 20px;
    margin-bottom: 8px;
}

.correct-answer {
    display: none;
    margin-top: 12px;
}

#submitted:checked~.form:has(#q11:checked) .correct-answer {
    display: block;
}

.correct-answer label .checkbox {
    border-color: #5f6368 !important;
}

.correct-answer label .text {
    color: #202124 !important;
}

.correct-answer label .checkbox-inner {
    border-color: #5f6368;
    transform: translate(-50%, -50%) scale(1);
}

.form hr {
    position: relative;
    border: none;
    border-top: 1px solid rgb(218, 220, 224);
    left: -100%;
    width: 300%;
}

.required-text {
    display: none;
    margin-top: 8px;
    align-items: center;
    gap: 12px;
    color: rgb(217, 48, 37);
}

.error-text {
    color: rgb(217, 48, 37);
}

#error:checked~#submitted:not(:checked)~.form .required-text {
    display: flex;
}

#error:checked~#submitted:not(:checked)~.form.q {
    border-color: rgb(217, 48, 37);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

/* #error:checked~.buttons #error,
#error:not(:checked)~.buttons #dummy,
.form:has(:checked)~.buttons #error,
.form:has(:checked)~.buttons #dummy,
.form.q:not(:has(:checked))~.buttons #submitted {
    display: none;
} */

/* #submitted:checked~.buttons {
    display: none;
} */

.btn {
    display: block;
    border-radius: 4px;
    line-height: 36px;
    width: fit-content;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

.btn-primary {
    background: rgb(103, 58, 183);
    padding: 0 24px;
    color: #fff;
}

.btn-primary:hover {
    box-shadow:
        0px 2px 1px -1px rgba(103, 58, 183, 0.2),
        0px 1px 1px 0px rgba(103, 58, 183, 0.14),
        0px 1px 3px 0px rgba(103, 58, 183, 0.12);
    background: #7349bd;
}

.btn-text {
    position: relative;
    color: rgb(103, 58, 183);
    background: rgba(66, 133, 244, 0);
    padding: 0 8px;
    overflow: hidden;
}

.btn-text:hover {
    background: rgba(66, 133, 244, 0.04);
}

.btn-text::before {
    content: "";
    position: absolute;
    background: radial-gradient(circle farthest-side,
            rgba(103, 58, 183, 0.15),
            rgba(103, 58, 183, 0.15) 80%,
            rgba(103, 58, 183, 0) 100%);
    top: 50%;
    left: 50%;
    width: 0px;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    transition:
        0.33s opacity,
        0s 0.33s width;
    opacity: 0;
}

.btn-text:hover:active::before,
.btn-text:focus-visible::before {
    transition: 0.33s width;
    opacity: 1;
    width: 141%;
}

.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
}

.checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
}

.checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child {
    background: #506eec;
    border-color: #506eec;
    animation: wave-46 0.4s ease;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave-46 {
    50% {
        transform: scale(0.9);
    }
}


/* Auth Styles */
.auth-style {
    background-color: white;
    border-radius: 25px;
    width: 50vw;
    height: 40vh;
    padding: 10px;

}

.login-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 100%;

    gap: 10px;
}

.login-content>div {
    width: 50%;
    padding-top: 45px;
    padding-left: 25px;
    text-align: start;
}

.login-content>form {
    width: 50%;
}

.login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-login {
    cursor: pointer;
    background-color: #6433eb;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    transition: background-color 0.3s;
}

/* Style Step */
/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

.shift-group {
    position: relative;
    margin-bottom: 1.5em;
}


.shift-input:focus {
    outline-color: #6433eb;
}

.shift-input:placeholder-shown+.shift-label {
    visibility: hidden;
}

.shift-input:focus+.shift-label,
.shift-input+.shift-label {
    /* no value in input */
    position: absolute;
    left: 10px;
    top: -10px;
    font-size: 12px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    visibility: visible;
    outline: none;
    border: none;
}

.shift-input:focus::placeholder {
    visibility: hidden;
    outline: none;
    border: none;


}

/* Logout Style */
.icon-logout {
    position: absolute;
    padding: 10px;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.icon-logout:hover {
    background-color: #d6d6d6;
    border-radius: 50%;
}